div.paging {
	padding          : 8px;
	margin           : 8px;
	text-align       : center;
	font-family      : Verdana;
	font-size        : 12px;
	background-image:url(grasi.jpg);
	border:1px solid #999;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
div.paging a {
	padding         : 2px 6px;
	margin-right    : 2px;
	border          : 1px solid #999;
	background-color: #f6f6f6;
	text-decoration : none; 
	color           : #003399;
}
div.paging a:hover {
	border           : 1px solid #9DCDE7;
	color            : #003399;
	background-color : #FFFFFF;
}


div.paging span.current {
	padding          : 2px 6px;
	margin-right     : 2px;
	font-weight      : bold;
	color            : #000000;
}
div.paging span.disabled {
	padding      : 2px 6px;
	margin-right : 2px;
	color        : #999999;
}
div.paging span.prevnext {
  font-weight : bold;
}


